<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logNm">Spring Log4j2</Property>
        <Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue} [%C] %style{[%t]}{yellow} %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <RollingFile name="File_Appender" fileName="logs/${logNm}.log" filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- Root Logger 설정 -->
        <Root level="ERROR" additivity="false">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Root>

        <!-- net.sf.log4jdbc: DB 로그를 WARN 레벨로 출력 (SQL 쿼리 로그 등) -->
        <Logger name="net.sf.log4jdbc" level="ERROR" additivity="false"/>

        <!-- Spring 관련 로그 레벨을 ERROR로 변경하여 오류도 기록되게 설정 -->
        <Logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="Console_Appender" />
            <AppenderRef ref="File_Appender"/>
        </Logger>

        <!-- 본인의 애플리케이션 패키지에 맞게 로거 추가 -->
        <Logger name="com.refactoring.finalproject" level="INFO" additivity="false">
            <AppenderRef ref="Console_Appender" />
            <AppenderRef ref="File_Appender"/>
        </Logger>

        <!-- Spring Beans 관련 로그 -->
        <Logger name="org.springframework.beans" level="ERROR" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>

        <!-- Spring Web 관련 로그 -->
        <Logger name="org.springframework.web" level="ERROR" additivity="false">
            <AppenderRef ref="Console_Appender" />
            <AppenderRef ref="File_Appender"/>
        </Logger>

        <!-- Spring Context 관련 로그 -->
        <Logger name="org.springframework.context" level="ERROR" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>

        <!-- Spring Core 관련 로그 -->
        <Logger name="org.springframework.core" level="ERROR" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>

        <!-- DB 관련 로그 -->
        <logger name="jdbc.sqlresultsettable" level="ERROR"/>
        <logger name="jdbc.resultset" level="DEBUG"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>
        <logger name="jdbc.sqlonly" level="DEBUG"/>
        <logger name="jdbc.sqltiming" level="DEBUG"/>

        <!-- log4jdbc 관련 로그를 WARN 레벨로 출력 -->
        <Logger name="log4jdbc" level="WARN">
            <AppenderRef ref="Console_Appender"/>
        </Logger>

    </Loggers>
</Configuration>