<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactoring.finalproject.chat.dao.ChatDao">
    <!--  SELECT  -->
    <select id="selectChatRoomList" resultType="com.refactoring.finalproject.chat.dto.ChatRoomDto">
        SELECT *
        FROM chatroom_tb
    </select>

    <select id="selectChatRoom" resultType="com.refactoring.finalproject.chat.dto.ChatRoomDto">
        SELECT *
        FROM chatroom_tb
        WHERE chatroom_no = #{roomNo}

    </select>

    <select id="selectUserNoByUsername" resultType="Long">
        SELECT user_no
        FROM user_tb
        WHERE user_id = #{username}
    </select>

    <select id="selectPreviousMessageByRoomNo" parameterType="Long" resultType="com.refactoring.finalproject.chat.dto.MessageRequest">
        SELECT msg.message_content, msg.message_time, msg.message_delete, u.USER_ID AS message_sender , msg.chatroom_no
        FROM chat_message_tb msg
        INNER JOIN user_tb u
        ON msg.message_sender = u.user_no
        WHERE msg.chatroom_no = #{roomNo}
    </select>

    <!--  INSERT  -->
    <insert id="insertChatroom" parameterType="com.refactoring.finalproject.chat.dto.ChatRoomDto">
        INSERT INTO chatroom_tb(CHATROOM_NO, CHATROOM_NAME, CHATROOM_CODE,USER_NO)
        VALUES (chatroom_no_seq.nextval, #{chatroomName}, #{chatroomCode},#{userNo})
    </insert>


</mapper>