<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactoring.finalproject.chat.dao.ChatDao">
    <!--  SELECT  -->
    <select id="selectChatRoomList" resultType="com.refactoring.finalproject.chat.dto.ChatRoomDto">
        SELECT *
        FROM chatroom_tb
    </select>

    <select id="selectChatRoom" resultType="com.refactoring.finalproject.chat.dto.ChatRoomDto">
        SELECT *
        FROM chatroom_tb
        WHERE chatroom_no = #{roomNo}

    </select>

    <!--  INSERT  -->
    <insert id="insertChatroom" parameterType="com.refactoring.finalproject.chat.dto.ChatRoomDto">
        INSERT INTO chatroom_tb(CHATROOM_NO, CHATROOM_NAME, USER_NO)
        VALUES (chatroom_no_seq.nextval, #{roomId}, #{userNo})
    </insert>


</mapper>