<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refactoring.finalproject.chat.dao.StompChatDao">
    <select id="selectUserNoByUsername" parameterType="String" resultType="Long">
        SELECT user_no
        FROM user_tb
        WHERE user_id = #{sender}

    </select>

    <select id="selectEnteredChatroomUserByUserNo" resultType="Boolean">
        SELECT COUNT(*)
        FROM CHATROOM_USER_TB
        WHERE chatroom_no = #{roomNo} AND CHAT_USER_NO = #{userNo}
    </select>


    <insert id="insertMessage" parameterType="com.refactoring.finalproject.chat.dto.MessageDto" >
        INSERT INTO chat_message_tb(message_no, message_content, message_time, message_delete, message_sender, chatroom_no)
        VALUES (message_no_seq.nextval, #{messageContent}, #{messageTime}, 'N', #{messageSender}, #{chatroomNo})
    </insert>

    <insert id="insertEnterUser">
        INSERT INTO chatroom_user_tb(chatroom_user_no, chatroom_no, chat_user_no)
        VALUES (chatroom_user_no_seq.nextval, #{roomNo}, #{userNo})
    </insert>

    <delete id="deleteUserFromChatroom">
        DELETE FROM chatroom_user_tb
        WHERE chatroom_no = #{roomNo} AND chat_user_no = #{userNo}
    </delete>
</mapper>